*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/luxury-07.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;
}
.nav-links>{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;   
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size:13px; 
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;    
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;   
}
nav .fa{
    display: none;
}


@media(max-width: 700px){
    .text-box h1{
       font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
/*------- Business ------*/

.Business{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.Business-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
}
.Business-col a{
    text-decoration: none;
    color: black;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.Business-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*------- vision -------*/

.vision{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.vision-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.vision-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*------------ Company --------*/

.Company{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.Company-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.Company-col img{
    width: 100%;
    border-radius: 10px;
    
}
.Company-col p{
    padding: 0;
}
.Company-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*----- Testimonials ------*/

.Testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonial-col .fa{
    color: #f44336;
}
@media(max-width: 700px){
    testimonial-col img{
    margin-left: 0px;
    margin-right: 15px;
 
     }
}

/*----- call to action _____*/

.cta{
    margin: 100px auto;
    width: 80;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(image/Abuja-city-1200x676.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}


/*----- footer ------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
        
}
.fa-heart-o{
    color: #f44336;
}

/*------ about us page -------*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/ice_dribbble_version_1-01_4x.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#fff;
}
.sub-header h1{
    margin-top: 100px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}

.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}

.red-btn:hover{
    color: #fff;
}

/*--------blog-content--------*/

.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: #999;
    padding: 0;
}
.blog-right{
    flex-basis: 32%;
}
.blog-right h3{
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.comment-form button{
    margin: 10px 0;
}

@media(max-width:700px){
    .sub-header h1{
        font-size: 24px;
    }
}

/*--------contact us page---------*/

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.ham{
    color: white;
    cursor: pointer;
}

@media(min-width:700px){
    .ham{
        display: none;
    }
}

/*--------- ICE-CARS PAGE ----------*/

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* Variables */
:root{
    --main-color:#d90429 ;
    --text-color: #020102;
    --bg-color: #fff;
}
/* Custom Scroll Bar */
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: var(--text-color)
}
section{
    padding: 4rem 0 2rem;
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}
.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
header.shadow{
    background-color: var(--bg-color);
    box-shadow: 4px 4px 4px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}
header.shadow #Search-icon{
    color: var(--text-color);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}
.Logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}
.Logo span{
    color: var(--main-color);
}
.navbar{
    display: flex;
    column-gap: 2rem;
}
.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#Search-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--bg-color);
}
.Search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}
.Search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}
.Search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}
.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(image/urus1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}
.home-text{
    padding-left: 130px;
}
.home-text h1{
    font-size: 2.4rem;
}
.home-text span{
    color: var(--main-color);
}
.home-text p{
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}
.btn{
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}
.btn:hover{
    background: #fd052f;
}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    color: var(--main-color);
}
.heading p{
    font-size: 0.938rem;
    font-weight: 300;
}
.Cars-Container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.Cars-Container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}
.Cars-Container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.Cars-Container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.Cars-Container .box h2{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background: var(--bg-color);
    padding: 8px;
    border-radius: 0.5rem;
}
.Cars-Container .box:hover h2{
    background: var(--main-color);
    color: var(--bg-color);
}
.Joyride-Container{
    display: absolute;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 3rem;
}
.Joyride-Container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}
.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}
.about-img{
    flex: 11 1 21rem;
}
.about-text{
    flex: 1 1 21rem;
}
.about-text span{
    font-weight: 500;
    color: var(--main-color);
}
.about-text h2{
    font-size: 1.7rem;
}
.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}
.blog-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.blog-container .box{
    flex: 1 1 13rem;
    padding: 20px;
}
.blog-container .box:hover{
    background: #f6f6f6;
}
.blog-container .box span{
    font-size: 0.8rem;
    color: var(--main-color);
}
.blog-container h3{
    font-size: 1.2rem;
}
.blog-container .box p{
    font-size: 0.938rem;
    margin: 4px 0;
}
.blog-container .box .blog-btn{
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--text-color);
}
.blog-container .box .blog-btn .bx{
    font-size: 20px;
}
.blog-container .box .blog-btn:hover{
    color: var(--main-color);
    column-gap: 0.7rem;
    transition: 0.4s;
}
.footer{
    background: var(--text-color);
    color: #f6f6f6;
    border-top: 2px solid var(--main-color);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer-container .logo{
    color: var(--bg-color);
    margin-bottom: 1rem;
}
.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}
.social{
    display: flex;
    align-items: center;
}
.social a{
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;
}
.social a:hover{
    color: var(--main-color);
}
.footer-box h3{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-box a,
.footer-box p{
    color: #818181;
    margin-bottom: 10px;
}
.footer-box a:hover{
    color: var(--main-color);
}
.Copyright{
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}
/* Making Responsive */
@media (max-width:1080px){
    .Container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
}
@media (max-width:991px){
    .nav{
        padding: 15px 20px;
    }
    section{
        padding: 3rem 0 1rem;
    }
    .home-text{
        padding-left: 2rem;
    }
    .home-text h1{
        font-size: 2.1rem;
    }
}
@media (max-width:920px){
    #Search-icon{
        color: var(--text-color);
    }
}
@media (max-width:768px){
    .Search-box input{
        padding: 15px;
    }
    .nav{
        padding: 10px 0;
    }
    #menu-icon{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 0.5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);  
        clip-path: circle(0% at 0% 0%);
        transition: 0.4s; 
    }
    .navbar a{
        display: block;
        padding: 15px;
    }
    .navbar a:hover{
        border-bottom: none;
        background: var(--main-color);
        color: var(--bg-color);
    }
    .navbar .active{
        clip-path: circle(144% at 0% 0%);
    }
    .blog-container .box{
        padding: 4px;
    }
}
@media (max-width:727px){
    .heading span{
        font-size: 0.9rem;
    }
    .heading h2{
        font-size: 1.4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-text{
        text-align: center;
    }
    .about-text h2{
        font-size: 1.4rem;
    }
}
@media (max-width:607px){
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:360px){
    .Search-box input{
        padding: 11px;
    }
    .home{
        min-height: 500px;
    }
    .home-text h1{
        font-size: 2rem;
    }
    .home-text p br{
        display: contents;
    }
}



